@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* reset */
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "inter";
}

/* common button start */
.common_btn{
    color: white;
    background: #1d4fd8;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #1d4fd8;
    
}
.common_btn:hover{
    transition: color 0.3s ease-out, background 0.3s ease-out;
    color: #1d4fd8;
    background:white ;
    border: 2px solid #1d4fd8;
}
/* common button end */

/* common alignment */
.common_alignment{
    max-width: 1300px;
    margin:40px auto;
}

/* section width and height */
.section{
    width: 100vw;
    height: auto;
}

/* common title */
.common_title{
    text-align: center;
    font-size: 3.5rem;
    padding: 50px; 
}

/* common hr style */
hr{
    margin: 20px 0px;
    border: 1px solid #b3b3b36f;
}

/* header section start */
.header .header_contant{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .header_contant img{
    height: 44px;
    width: 134px;
}

.header .header_contant nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

}
.header .header_contant nav ul li{
    list-style: none;

}
.header .header_contant nav ul li a{
    font-family: 'arimo';
    font-size: 1.1rem;
    text-decoration: none;
    color: #575757;
}
.header .header_contant nav ul li a:hover{
    color: #1d4fd8;
    border-bottom: 3px solid #1842b691;
}
/* header section end */

/* hero section start */
.hero {
    background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
}
.hero .overlay {
    background:  linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(14, 110, 179, 0) 100%);
    width: 100%;
    height: 100%;
}
.hero .overlay .hero_contant{
    text-align: center;
}
.hero .overlay .hero_contant h1{
    color: white;
    font-size: 5rem;
    position: relative;
    top: 100px;
}
.hero .overlay .hero_contant p{
    color: white;
    font-size: 1.4rem;
    position: relative;
    top: 125px;
    margin: 0px 260px;
}
.hero .overlay .hero_contant .Register_btn{
    position: relative;
    top: 380px;
    font-size: 1.5rem;
    padding: 20px 40px;
    border-radius: 10px;
}
/* hero section end */

/* meet the speakers section start */

.speakers {
    height: auto; 
}
.speckers_container .speakers_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.speckers_container .speakers_info > div{
    box-shadow: 0px 0px 0px 1px #e5e5e5;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}
.speckers_container .speakers_info > div:hover{
    transform: scale(1.005);
    box-shadow: 0px 0px 10px #81a2ff;
}
.speckers_container .speakers_info > div img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.speckers_container .speakers_info .about_speaker{
    padding: 20px;
    text-align: left; 
}
.speckers_container .speakers_info .about_speaker :first-child{
    font-size: 12px;
    color: #1d4fd8;
}

.speckers_container .speakers_info .about_speaker :nth-child(2){
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;

}

.speckers_container .speakers_info .about_speaker :last-child{
    font-size: 14px;
    color: #757575;
}
/* meet the speakers section end */

/* Secure Your Spot start */
.package_container > p{
    color: #757575;
    font-size: 1.3rem;
    text-align: center;
    margin: -30px auto 50px;
}
.package_container .package_cards_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.package_container .package_cards_container > div{
    box-shadow: 0px 0px 0px 1px #e5e5e5;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    padding: 30px;
   
}
.package_container .package_cards_container > div:hover{
    transform: scale(1.005);
    box-shadow: 0px 0px 10px #81a2ff;
}
.package_container .package_cards_container > div .services{
    padding-bottom: 20px;
}
.package_container .package_cards_container > div li{
    color: #404040;

}
.package_container .package_cards_container > div li::marker{
    color: #1d4fd8;
}

.package_container .package_cards_container > div p{
    margin: 15px 0px;
    color: #757575;   
}
.package_container .package_cards_container > div li{
    margin: 20px;
    color: #535353;
}

.package_container .package_cards_container > div .price{
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    margin: 0px;
}
.package_container .package_cards_container > div .price{
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    margin: 0px;
}
.package_container .package_cards_container > div button{
    width: 100%;
    border-radius: 8px;
    font-weight: 400;
}
.package_container .package_cards_container > div .card1_btn{
    color: #1d4fd8;
    border: 2px solid #1d4fd8;
    background-color: white;
}
.package_container .package_cards_container > div .card3_btn{
    color: #1c1c1c;
    border: 2px solid #1c1c1c;
    background-color: white;
}
/* recomended card */
.package_container .package_cards_container .card2{
    background-color: rgb(0, 0, 0);
} 
/* direct first p */
.package_container .package_cards_container  .card2  > :first-child{
    color: #8dacff;
    font-weight: 600;
}
/*  direct 2nd p */
.package_container .package_cards_container  .card2 > :nth-child(2){
    color: #e5e5e5;
}
/*  direct 3rd p */
.package_container .package_cards_container  .card2 > :last-child(){
    color: #b1b1b1;
}
.package_container .package_cards_container  .card2 li{
    color: #e5e5e5e0;
} 
/* Secure Your Spot end */


/* schedule start */
.schedule_container{
    max-width:1100px;
    margin:auto;
}

.schedule_subtitle{
    text-align:center;
    color:#666;
    margin-top:15px;
    margin-bottom:40px;
}

.schedule_day{

    width:fit-content;
    margin:0 auto 40px;

    background:#1d4fd8;
    color:#fff;

    padding:10px 22px;

    border-radius:30px;

    font-weight:600;
    letter-spacing:.5px;
}


/* All rows */

.schedule_info{

    display:flex;
    flex-direction:column;
    gap:25px;

}


/* Single Row */

.schedule_row{

    display:grid;

    grid-template-columns:220px 1fr;

    gap:20px;

}


/* Common Box */

.schedule_box{

    border:1px solid #e7e7e7;

    border-radius:10px;

    transition:.35s;

}


/* Time Box */

.schedule_time{

    background:#1d4fd8;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    font-size:22px;

    font-weight:700;

    line-height:1.8;

}


/* Event Card */

.schedule_event{

    padding:30px;

    background:white;

}


/* Tag */

.event_tag{

    display:inline-block;

    background:#eef3ff;

    color:#1d4fd8;

    padding:6px 16px;

    border-radius:50px;

    font-size:13px;

    font-weight:600;

    margin-bottom:18px;

}


/* Title */

.schedule_event h3{

    font-size:26px;

    margin-bottom:15px;

    color:#222;

}


/* Description */

.schedule_event p{

    color:#666;

    line-height:1.8;

}


/* Hover */

.schedule_row:hover{

    transform:translateY(-6px);

}


.schedule_row:hover .schedule_event{

    border-color:#1d4fd8;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}


.schedule_row:hover .schedule_time{

    background:#163eb0;

}
/* schedule end */


/* footer start */
 .footer{
    background-color: #153ca7;
}
.footer_container {
    margin-bottom: 0px;
    padding: 50px 0px;
}
.footer_container .logos{
    display: flex;
    justify-content: space-between;
}
.footer_container .logos .right_icons{
    display: flex;
    column-gap: 30px;
    align-items: center;
} 

.footer_container p{
    text-align: center;
    color: rgb(211, 211, 211);
}

/* hover efect */
.footer_container a{
    transition: all 0.2s ease-in;
}
.footer_container a:hover{
    transform: translateY(-3px) ;
}
/* footer end */



